<h1>Admin::Events#show</h1>
<p>Find me in app/views/admin/events/show.html.erb</p>
<h1>Détails de l'événement</h1>
<p>
  <strong>Titre:</strong>
  <%= @event.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>
<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>
<p>
  <strong>Validé:</strong>
  <%= @event.validated ? 'Oui' : 'Non' %>
</p>
<p>
  <strong>Revu:</strong>
  <%= @event.reviewed ? 'Oui' : 'Non' %>
</p>
<%= link_to 'Modifier', edit_admin_event_path(@event) %> |
<%= link_to 'Retour', admin_events_path %>
