<h1><%= @event.title %></h1>
<p><%= @event.description %></p>
<p>Date de début : <%= @event.start_date %></p>
<p>Durée : <%= @event.duration %> minutes</p>
<p>Prix : <%= @event.price %> €</p>
<p>Lieu : <%= @event.location %></p>
<p>Créateur : <%= @event.user.email %></p>
<p>Nombre d'inscrits : <%= @event.attendees.count %></p>
<% if user_signed_in? && !@event.participants.include?(current_user) && @event.admin != current_user %>
  <%= link_to 'Rejoindre l\'événement', new_event_attendance_path(@event) %>
<% end %>

<% if user_signed_in? && @event.admin == current_user %>
  <%= link_to 'Mon espace événement', event_attendances_path(@event) %>
<% end %>

<% if user_signed_in? && !@event.participants.include?(current_user) && @event.admin != current_user %>
  <% if @event.is_free? %>
    <%= link_to 'Rejoindre l\'événement', event_attendances_path(@event), method: :post %>
  <% else %>
    <%= link_to 'Rejoindre l\'événement', new_event_attendance_path(@event) %>
  <% end %>
<% end %>
